<div class="edit-banner"></div>
<div class = "image overlay">
  <h1 id="site-title">Edit Profile</h1>
  <div class="tagline"></div>
  
<div id="login"> 
  <%= form_for (@user) do |f| %>
     
    <%= f.text_field :email, :placeholder => "email",  class: 'sign-input' %>
  
    <%= f.text_field :name, :placeholder => "name", class: 'sign-input' %>
    <%= f.text_field :password, :placeholder => "password", class: 'sign-input' %>
    <%= f.text_field :business_name, :placeholder => 'buisness name', class: 'sign-input' %>
    <%= f.text_field :location, :placeholder => 'location', class: 'sign-input' %> 
    <%= f.text_field :services, :placeholder => 'services', class: 'sign-input' %>  
    <%= f.text_field :contact_number, :placeholder => 'phone number', class: 'sign-input' %> 
    <%= f.file_field :avatar, :placeholder => "profile photo", class: 'avatar-input' %>

   
    <%= f.hidden_field :lat, id: "map_lat" %> 
    <%= f.hidden_field :lng, id: "map_lng" %> 
  <div id="map-container">
     <div id="map"></div>


    <%= f.submit "submit", class: "sub-button" %>
  <% end %> 
</div>

</div>
  <div class="clear-fix"></div>
</div>

<script> 
  $(document).ready(function(){
    var user = <%= @user.to_json.html_safe %> // pass ruby variable to javascript 
    gmap_form(user);
  }); 
</script>



