<div class="edit-banner"></div>
<div class = "image overlay">
  <h1 id="site-title">Edit Profile</h1>
  <div class="tagline"></div>

<div id="login-edit"> 
  <%= form_for(@user, :html => { :class => "edit-form"} ) do |f| %>
 
   <div class="row">
    <div class="col s6">  
    <%= f.text_field :email, :placeholder => "email",  class: 'sign-input' %>
    </div>
   <div class="col s6">
    <%= f.text_field :name, :placeholder => "name", class: 'sign-input' %>
  </div>
  <div class="col s6">
    <%= f.text_field :password, :placeholder => "password", class: 'sign-input' %>
  </div>
  <div class="col s6">
    <%= f.text_field :business_name, :placeholder => 'buisness name', class: 'sign-input' %>
  </div>
  <div class="col s6">
    <%= f.text_field :location, :placeholder => 'location', class: 'sign-input' %> 
  </div>
  <div class="col s6">
      <%= f.text_field :services, :placeholder => 'services', class: 'sign-input' %> 
  </div>
  <div class="col s6"> 
    <%= f.text_field :contact_number, :placeholder => 'phone number', class: 'sign-input' %>
  </div> 
  <br/>
     <%= f.file_field :avatar, :placeholder => "profile photo", class: 'avatar-input' %>
  
    <div id="map-container">
       <div id="map"></div>
   </div>
        <%= f.hidden_field :lat, id: 'map_lat' %> 
        <%= f.hidden_field :lng, id: 'map_lng' %> 

  <%= f.submit "update", class: "edit-button" %>
        <% end %> 
</div>
</div>
     
    





  




<script> 
  $(document).ready(function(){
    var user = <%= @user.to_json.html_safe %> // pass ruby variable to javascript 
    gmap_form(user);
  }); 
</script>



