<nav>
  <div class="nav-wrapper teal accent-4">
    <a href="#" class="brand-logo">Charms</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Home', user_path(current_user) %></li>
      <li><%= link_to 'Explore', photos_path %></li>  
      <li><%= link_to 'Search', users_path %></li>
      <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    </ul>
  </div>
</nav>
<!-- users information -->
<div class="user-content">
  <ul class="collection with-header user-collect">
    <li class="collection-header">
      <h4><img class="business-icon" src="/images/business-icon.png"> Business: <%= @user.business_name %></h4> 
      <h5><%= @user.services %></h5> 
      <%= image_tag @user.avatar.url(:thumb)%> 
      <h5 class="profile-name"><%= @user.name %></h5>
      <h6><%= @user.services %></h6>
      <h5><img class="phone-icon" src="/images/phone-icon.png"><%= @user.contact_number %> 626 - 234 -5678</h5>
      <h5><img class="business-icon" src="/images/imac.png"> lashes.com</h5> 

    </li>

    <li class="collection-item">


    

    </li>
    <li class="collection-item"></li>
    <li class="collection-item"></li>
  </ul>
</div>

<!-- a navigation bar for users personal features for editing, adding, and deleting -->
<nav id="navBottom">
  <ul id="navTxtBtm center-align">
    <li class="nav-links"><%= link_to 'edit profile', edit_user_path %></li>
    <li class="nav-links"><%= link_to 'add photo', new_photo_path %>
    <li class="nav-links"><%= link_to 'delete account', user_path(current_user), method: :delete, data: {confirm: 'Are you sure?'} %> </li>
  </ul>
</nav>
<!-- user feed  -->
<div class="content">
  <h4 class="feed-text center-align">Photo Feed</h4>
  <ul id="feed-box">
    <% @user_photos.each do |photo| %> 
      <li>
        <div class="photo-wrapper">
          <div class="photo">
            <%= link_to image_tag(photo.image.url(:medium)), photo_path(photo.id), class: "feed-links" %>
          </div>
          <div class="text bottom"><%= photo.content %></div>
        </div>
      </li>
      <li>
        <div id="map"></div>
    <% end %> 
  </ul>
</div>

<div class='clear-fix'></div>

<script> 
 $(document).ready(function){
    var user = <%= @user.to_json.html_safe %> // pass ruby variable to javascript 
    gmap_show(user);
  });

  var markers = handler.addMarkers(<%=raw @hash.to_json %>);


 
</script>  

