<nav>
  <div class="nav-wrapper teal accent-4">
    <a href="#" class="brand-logo">Charms</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Home', user_path(current_user) %></li>
      <li><%= link_to 'Explore', photos_path %></li>  
      <li><%= link_to 'Search', users_path %></li>
      <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    </ul>
  </div>
</nav>
<!-- users information -->
<div class="user-content">
  <%= image_tag @user.avatar.url %> 
  <%= image_tag @user.avatar.url(:medium) %>
</div>
<!-- a navigation bar for users personal features for editing, adding, and deleting -->
<nav id="navBottom">
  <ul id="navTxtBtm center-align">
    <li><%= link_to 'edit profile', edit_user_path %></li>
    <li><%= link_to 'add photo', new_photo_path %>
    <li id="posts"><%= link_to 'delete account', user_path(current_user), method: :delete, data: {confirm: 'Are you sure?'} %> </li>
  </ul>
</nav>
<!-- A feed for all current users photos in their page -->
<div class="photo-feed"> 
  <% @user_photos.each do |photo| %> 
    <%= link_to image_tag(photo.image.url(:medium)), photo_path(photo.id) %> 
  <% end %> 
</div>
