<nav>
  <div class="nav-wrapper teal accent-4">
    <a href="#" class="brand-logo">Charms</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Home', user_path(current_user) %></li>
      <li><%= link_to 'Explore', photos_path %></li>  
      <li><%= link_to 'Search', users_path %></li>
      <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    </ul>
  </div>
</nav>
<div class="photo-banner"></div>
 <!-- photo feed  -->
<div class="content">
  <h4 class="feed-text center-align">Photo Gallery</h4>
  <ul id="feed-box">
    <% @photos.each do |photo| %> 
      <li>
        <div class="photo-wrapper">
          <div class="photo">
            <%= link_to image_tag(photo.image.url(:medium)), photo_path(photo.id), class: "photo-gallery z-depth-2" %> 
            <h6 class="caption-photo z-depth-1"><%= photo.content %></h6> 
          
          </div>
          <div class="text bottom"><h6 class="caption-photo"></h6></div>
        </div>
      </li>
    <% end %> 
  </ul>
</div>
<div class="clear-fix"></div>



  


