<nav>
  <div class="nav-wrapper teal accent-4">
    <a href="#" class="brand-logo">Charms</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Home', user_path(current_user) %></li>
      <li><%= link_to 'Explore', photos_path %></li>  
      <li><%= link_to 'Search', users_path %></li>
      <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    </ul>
  </div>
</nav>
<div class="photo-banner">
<!-- form for adding a photo -->
</div> 
<div class="photo-form container center-align">
  <h3>Add Photo</h3> 
  <div class="row">
    <div class="col s8">
      <%= form_for @photo, html: { multipart: true } do |f| %> 
        <%= f.text_field :content, :placeholder => "caption" %> 
        <%= f.file_field :image %>
        <%= f.submit "Post", class: "photo-btn" %> 
      <% end %> 
    </div>
  </div>
</div> 