<div class="text-center">
  <h2> 
 
  </h2>
   <%= image_tag @photo.image %>
   <h2>
    Description:
    <br>
   <%= @photo.content %> 
  </h2>
  <h3> Comments: </h3>
</div>
<div class='container'>
  <% if current_user %>
    <!-- nested form for photos/:id/comments/new -->
    <%= form_for [@photo, @review], class: 'text-center' do |f| %> 
      Add a comment:
      <%= f.text_field :content, class: 'form-control' %> 
      <br>
      <%= f.submit 'Add Comment', class: 'btn btn-success' %> 
    <% end %>
  <% end %>
  <!-- implemented a row of comments -->
  <div class="row panel panel-default">
    <% @reviews.each do |review| %>
      <div class='comments-header panel-heading'>
        <div class='comment-details'>
          <%= image_tag review.user.avatar.url(:thumb), class: 'img-circle user-avatar' %>
          <!-- current user is only allowed to comment on the webpage -->
          <%= link_to review.user.name, user_path(review.user.id) %>
        <% if current_user.id == review.user.id %>
          <%= link_to 'X', photo_review_path(@photo.id, review.id), method: :delete, class: 'btn btn-danger btn-sm pull-right' %>
        <% end %>
        <br>
        <!-- converts the created_at to when the comment was uploaded --> 
        <%= time_ago_in_words(review.created_at) %> ago
      </div>
    </div>
    <div class="comments panel-body">
      <p>
      <%= review.content %>
      </p>
    </div>
    <br>
  <% end %>
  </div>
 </div> 