<nav>
  <div class="nav-wrapper teal accent-4">
    <a href="#" class="brand-logo">Charms</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Home', user_path(current_user) %></li>
      <li><%= link_to 'Explore', photos_path %></li>  
      <li><%= link_to 'Search', users_path %></li>
      <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    </ul>
  </div>
</nav>
<!-- poloaroid image viewer -->
<div class="photo-container center-align">
 <div class="photo-wrapper">
   <section class= "polaroid z-depth-2"> <%= image_tag (@photo.image.url(:medium)), class: 'image-border' %>
    <br/>
    <span class="review"><%= @photo.content %></span>
   </section>
 </div>
</div>
 <!-- section for the comments/form -->
 <div class="review-wrapper"> 
  <div class = "col s8">
  
    <% if current_user %>
      <!-- nested form for photos/:id/reviews/new -->
      <%= form_for [@photo, @review], class: 'review-form' do |f| %> 
        Add a comment:
        <%= f.text_field :content, class: 'form-control' %> 
        <br>
        <%= f.submit 'Add Comment', class: 'btn btn-success' %> 
      <% end %>
    <% end %>
  </div>
  </div>
  <!-- implemented a row of reviews -->
  <div class="review-content">
    <% @reviews.each do |review| %>
      <div class='comments-header panel-heading'>
        <div class='review-details'>
          <%= link_to review.user.name, user_path(review.user.id), class: 'left avatar-name' %>
          <br/>
          <%= image_tag review.user.avatar.url(:thumb), class: 'user-avatar' %>
          <!-- current user is only allowed to comment on the webpage -->
          
          <% if current_user.id == review.user.id %>
            <%= link_to 'delete', photo_review_path(@photo.id, review.id), method: :delete, class: 'right comment-delete' %>
          <% end %>
          <br>
          <!-- converts the created_at to when the review was created --> 
          <p class="review-text"><%= review.content %></p>
          <br/>
          <span class="time-review right"><%= time_ago_in_words(review.created_at) %> ago </span>
        </div>
      </div>
      <div class="comments panel-body">
        <p></p>
        <br>
        </div>
    <% end %>
    <%= link_to 'delete photo', photos_path(@photo.id), method: :delete,class: '' %>
  </div>
</div> 





